  <header>
    <h2><a href="#">Silver Lake Design Studio</a></h2>
    <nav>
        <li><a href="#">Stuff</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </nav>            
  </header>