@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}




<div class="container-fluid background-image" style="background: linear-gradient(270deg, #a5d88c, #ed996e, #77a2c2, #e38ea9, #94eddc, #efde8c, #c4a9f4, #92c7de, #ed91c2);
        background-size: 1800% 1800%;
        -webkit-animation: gradientAnimation 55s ease infinite;
        -moz-animation: gradientAnimation 55s ease infinite;
        animation: gradientAnimation 55s ease infinite;">


    <section class="about-page">

        <div class="about-page-content-area">
            <h1>@ViewData["Title"]</h1>
            <!-- <h3>@Model.Message</h3>  -->
        </div>

        <ul class="grid">
            <li class="small" style="background-image: url(../images/concreteGrey.jpg) ; background-repeat: no-repeat; background-size: cover; background-position: center;"></li>
            <li class="large">Silver Lake Design Studio focuses on responsive web design and development. Founder and owner Anna Donlin is a graphic designer and art director who has worked with TripAdvisor, VirtualTourist, Yahoo! Search Marketing, Overture, & GoTo.  <br /><br />
            Prior to working for these innovative companies, Anna was accepted to participate in the Los Angeles – Berlin Professional Exchange Program. She worked in Berlin, Germany for four years, primarily in architecture, for firms including Archimation, The Berliner Morgenpost, and the Axel Springer Verlag. <br /><br />
            Anna's degree in International Business has informed her design work, much of it for the international marketplace. She thinks in terms of good design as a shared and common language – capable of making a global impact and changing the world for the better. <br /><br />
            This global, strategic mindset has lead to thinking beyond design and considering the roots of creativity. In trying to understand more deeply how her design ideas & inspiration evolve, Anna has done extensive study and research on creativity, motivation, and innovation. <br /><br />
            </li>

        </ul>


    </section>


</div>
