@page
@model IndexModel
@{
    ViewBag.theme = "homepage";
    ViewData["Title"] = "Home page";

}



  <section class="hero">

    <div class="background-image" style="background: linear-gradient(270deg, #a5d88c, #ed996e, #77a2c2, #e38ea9, #94eddc, #efde8c, #c4a9f4, #92c7de, #ed91c2); background-size: 1800% 1800%; -webkit-animation: gradientAnimation 55s ease infinite; -moz-animation: gradientAnimation 55s ease infinite; animation: gradientAnimation 55s ease infinite;">
    </div>
    
    <div class="hero-content-area">
        <h1>The Sandbox</h1>
        <h3>A designer's repository of coding projects created while learning to program. </h3>
        <!-- <a href="#" class="btn">Contact Us Now</a> -->

    </div>
        
        <ul class="grid">
            <li class="item" style="background-color:#a5d88c; animation-name: item1; animation-duration: 60s; animation-delay: 1s; animation-iteration-count: infinite"><a href="Projects/ColorGame"><h3>Color Game</h3>-a fun learning game-</a></li>
            <li class="item" style="background-color:#ed996e; -webkit-animation: item1 25s infinite; animation: item1 25s infinite;"><a href="Projects/Patatap"><h3>Patatap Clone</h3> -an animation run by keyboard keys-</a></li>
            <li class="item" style="background-color:#77a2c2; animation-name: item2; animation-duration: 60s; animation-delay: 1s; animation-iteration-count: infinite"><a href="Projects/ToDoList"><h3>To Do List </h3> -an attractive list app-</a></li>
            
        </ul>
    
  </section>





