@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<meta name="viewport" content="width=device-width, initial-scale=1">

  <section class="hero">
    <div class="background-image" style="background: linear-gradient(270deg, #a5d88c, #ed996e, #77a2c2, #e38ea9, #94eddc, #efde8c, #c4a9f4, #92c7de, #ed91c2); background-size: 1800% 1800%; -webkit-animation: gradientAnimation 55s ease infinite; -moz-animation: gradientAnimation 55s ease infinite; animation: gradientAnimation 55s ease infinite;">
    </div>
    <div class="hero-content-area">
        <h1>Designing In Code</h1>
        <h3>The Sandbox:</h3>
        <!-- <a href="#" class="btn">Contact Us Now</a> -->

    </div>
        
        <ul class="grid">
            <li class="item" style="background-color:#a5d88c; animation-name: item1; animation-duration: 60s; animation-delay: 1s; animation-iteration-count: infinite"><a href="Projects/ColorGame">Color Game</a></li>
            <li class="item" style="background-color:#ed996e; -webkit-animation: item1 25s infinite; animation: item1 25s infinite;"><a href="Projects/Patatap">Patatap Clone</a></li>
            <li class="item" style="background-color:#77a2c2; animation-name: item2; animation-duration: 60s; animation-delay: 1s; animation-iteration-count: infinite"><a href="Projects/ToDoList">To Do List</a></li>
        </ul>
  </section>

    <section class="contact">
    <h3 class="title"></h3>
    <p>Want to know about what we are up to, or come to one of our mixers? <br>Just sign up for our mailing list. No spam from us, we promise!</p>
    <hr>
    <form>
        <input type="email" placeholder="Email">
        <a href="#" class="btn">Subscribe now</a>
    </form>
  </section>



