@page
@model PortfolioModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
    
<head>
<title>Portfolio-Index</title>

    <link rel="stylesheet" href="~/css/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>

  <header>
    <h2><a href="#">Silver Lake Design Studio</a></h2>
    <nav>
        <li><a href="#">Stuff</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </nav>            
  </header>

  <section class="">

  </section>

  <section class="">
    <h3 class="">Title</h3>
    <p></p> 
    <hr>
  </section>

  <section class="">
    <h3 class="">Title</h3>
    <p></p> 
    <hr>
  </section>

  <section class="">

  </section>

  <section class="">

  </section>

  <footer>
    <p>Images courtesy of <a href="http://unsplash.com">unsplash</a></p>
    <p>Why are you even reading this?! There's never anything interesting in the footer!</p>
    <ul>
        <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
        <li><a href="#"><i class="fab fa-facebook-square fa-2x"></i></a></li>
        <li><a href="#"><i class="fab fa-snapchat-square fa-2x"></i></a></li>
    </ul>
  </footer>

</body>

 </html>

